.main-wrapper {
    padding: 10px;
    background-color: #f9f9f9;
    min-height: 100vh;
}
.main-title {
    text-align: center;
}
.search-block {
    width: 50%;
    margin: auto;
}
.search-input {
    border-radius: 15px;
}
.picture {
    max-width: 250px;
    max-height: 250px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.search-block {
    margin-bottom: 20px;
}
.movies {
    margin: 0;
    padding: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.movie {
    padding: 10px;
    border: 0.1px solid #dddddd;
    transition: all 0.3s ease;
}
.movie:nth-child(odd) {
    background-color: #fff;
}
.movie-hover:hover {
    background-color: #BDBDBD;
}
.hidden {
    display: none;
}
.movie-link,
.movie-link:hover,
.filters a,
.filters a:hover {
    text-decoration: none;
    color: #333;
}
.back {
    cursor: pointer;
}
.filters {
    margin-top: 5px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
}
.filters a:hover,
.back:hover {
    font-weight: bold;
}