.main {
    padding: 10px;
    background-color: #f9f9f9;
    min-height: 100vh;
}
.main-title {
    text-align: center;
}
.search-block {
    width: 50%;
    margin: auto;
}
.picture {
    max-width: 250px;
    max-height: 250px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.search-block {
    margin-bottom: 20px;
}
.movies {
    margin: 0;
    padding: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.movie {
    padding: 10px;
    border: 0.1px solid #dddddd;
}
.movie:nth-child(odd) {
    background-color: #fff;
}
.hidden {
    display: none;
}